@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text color */
  --background-start-rgb: 173, 216, 230; /* Light blue start color */
  --background-end-rgb: 255, 255, 255; /* White end color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text color in dark mode */
    --background-start-rgb: 0, 0, 0; /* Black start color in dark mode */
    --background-end-rgb: 0, 0, 0; /* Black end color in dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* Text color based on color scheme */
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
